*.bak
*.iml
*.swp
*.tmp
*~.nib
.classpath
.externalToolBuilders/
.idea
.loadpath
.metadata
.mvn/timing.properties
.project
.settings/
.target
bin/
buildNumber.properties
dependency-reduced-pom.xml
local.properties
pom.xml.next
pom.xml.releaseBackup
pom.xml.tag
pom.xml.versionsBackup
release.properties
target/
tmp/