
@lombok.Data
public class {{ .Struct.Name }}Entity {
    {{- range .Struct.Fields }}
    // @Column(name="{{ .Column.Name }}")
    private {{ .Type }} {{ .Name }};
    {{- end }}
    // TODO: Generate Getters and Setters
}
